.container {
  max-width: 1000px;
}

.calculator-container {
  width: 600px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.border {
  border-radius: 6px;
  padding: 20px;
}

.helpButton {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.helpButton:hover {
  color: white;
  background: black;
  transition: all 0.2s ease-in;
}

.helpButton:active {
  opacity: 0.8;
  transform: scale(0.9);
  transition: all 0.1s ease-in;
}

.flex-grow-1 {
  flex-grow: 1;
}

.card {
  flex: 1;
}

#help {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#help button {
  flex-grow: 1;
}

.calculator-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}